
// Theme colour --------------------------------------

$col-brand: #6aba5f; 		// light green 
$col-brand-dark: #1f4d2d;	// dark green

// Background --------------------------------------

$col-body-bg: #fff;			// white

// Borders --------------------------------------

$col-border: #c6c6c6;		// grey 

// Text --------------------------------------

$col-text: #404348;			// black 
$col-text-light: #9b9b9b;	// grey 
$col-text-reverse: #fff; 	// white

// Special things --------------------------------------

$col-alert: #B84452; 		// red 